@import './assets/Roboto/roboto.scss';

:root {
  --left-bg-image: url('http://localhost:5000/images/ps5.jpg');
  --right-bg-image: url('http://localhost:5000/images/xbox.jpg');
  --left-bg-color: rgba(87, 84, 236, 0.7);
  --right-bg-color: rgba(43, 43, 43, 0.8);
  --left-btn-hover-color: rgba(87, 84, 236, 1);
  --right-btn-hover-color: rgba(28, 122, 28, 1);
  --white-color: #fff;
  --grey-color: #333;
  --hover-width: 75%;
  --other-width: 25%;
}

@mixin bg($image, $repeat, $size) {
  background-image: $image;
  background-repeat: $repeat;
  background-size: $size;
}

@mixin before-elem($bg-color) {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $bg-color;
}

@mixin text($left, $top) {
  position: absolute;
  left: $left;
  top: $top;
  transform: translateX(-50%);
}

@mixin hover-btn($bg-color) {
  background-color: $bg-color;
  transition: background-color 0.5s ease;
}

* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: var(--grey-color);

  .split {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
  }

  .split.left {
    @include bg(var(--left-bg-image), no-repeat, cover);
    left: 0;

    &::before {
      @include before-elem(var(--left-bg-color));
    }

    a {
      &:hover {
        @include hover-btn(var(--left-btn-hover-color));
      }
    }
  }
  
  .split.right {
    @include bg(var(--right-bg-image), no-repeat, cover);
    right: 0;
    
    &::before {
      @include before-elem(var(--right-bg-color));
    }

    a {
      &:hover {
        @include hover-btn(var(--right-btn-hover-color));
      }
    }
  }

  h1 {
    @include text(50%, 20%);
    font-size: 4rem;
    color: var(--white-color);
    white-space: nowrap;
  }

  a {
    @include text(50%, 40%);
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: var(--white-color);
    border: var(--white-color) solid 0.2rem;
    font-size: 1rem;
    font-weight: bold;
    width: 15rem;
    padding: 1.5rem;
    text-transform: uppercase;
  }
}

.hover-left {
  .left {
    width: var(--hover-width);
  }

  .right {
    width: var(--other-width);
  }
}

.hover-right {
  .right {
    width: var(--hover-width);
  }

  .left {
    width: var(--other-width);
  }
}

.split.left, 
.split.right,
.split.left::before,
.split.right::before {
  transition: all 1s ease-in-out;
}