@import './assets/Roboto/roboto.scss';

:root {
  --left-bg-image: url('http://localhost:5000/images/ps5.jpg');
  --right-bg-image: url('http://localhost:5000/images/xbox.jpg');
  --left-bg-color: rgba(87, 84, 236, 0.7);
  --right-bg-color: rgba(43, 43, 43, 0.8);
  --white-color: #fff;
  --grey-color: #333;
}

@mixin bg($image, $repeat, $size) {
  background-image: $image;
  background-repeat: $repeat;
  background-size: $size;
}

@mixin before-elem($bg-color) {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $bg-color
}

@mixin text($left, $top) {
  position: absolute;
  left: $left;
  top: $top;
  transform: translateX(-50%);
}

* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: var(--grey-color);

  .split {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
  }

  .split.left {
    @include bg(var(--left-bg-image), no-repeat, cover);
    left: 0;

    &::before {
      @include before-elem(var(--left-bg-color))
    }
  }
  
  .split.right {
    @include bg(var(--right-bg-image), no-repeat, cover);
    right: 0;
    
    &::before {
      @include before-elem(var(--right-bg-color))
    }
  }

  h1 {
    @include text(50%, 20%);
    font-size: 4rem;
    color: var(--white-color);
    white-space: nowrap;
  }

  .btn {
    @include text(50%, 40%);
    text-decoration: none;
  }
}
